@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --Darkcyan: rgb(25, 162, 174);
  --Verydarkdesaturatedblue: rgb(45, 50, 72);
  --Darkgrayishblue: rgb(106, 111, 129);
  --Darkgray: rgb(150, 150, 150);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Darkcyan);
  height: 100vh;
  width: 100vw;
}
.profile {
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  right: 35%;
  border-width: 5px;
  border-color: white;
  border-style: solid;
}
main {
  width: 350px;
}
.upper {
  position: relative;
  background: url(./images/bg-pattern-card.svg);
  height: 135px;
  width: 100%;
  border-radius: 20px 20px 0px 0;
}
.bottom {
  background-color: white;
  height: 160px;
  border-radius: 0px 0px 20px 20px;
  padding-top: 70px;
  text-align: center;
}
.name{
    font-size: 18px;
    color: var(--Darkgray)
}
.name > span{
    font-weight: 700;
    color: var(--Verydarkdesaturatedblue)
}
.place{
    margin-top: 5px;
    color: var(--Darkgray);
    font-size: 15px;
}
hr{
    margin:20px 0 10px 0;
    border-color: var(--Darkgray);
    border-style: solid;
    opacity: .2;
    border-width: 1px;

}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.details>div{
    display: flex;
    flex-direction: column;
}
.details>div>span:nth-of-type(1){
    font-weight: 700;
}
.upper-bg{
    width: 100vw;
    height: 50% ;
    position: absolute;
    top: 50%;
    background: url(./images/bg-pattern-bottom.svg);
    background-position-x: 50vw;
    /* background-position-x: right; */
    background-repeat: no-repeat;
    z-index: -1;
}
.lower-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 58%;
    background: url(images/bg-pattern-top.svg) no-repeat bottom right;
}
.lower-bg>div{
    background: url(./images/bg-pattern-top.svg);
    background-position-x: 50vw;
    background-repeat: no-repeat;
}